In [1]:
import numpy as np

In [21]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10.5]
l=[l1,l2]
arr2=np.array(l)
arr2

array([[ 1. ,  2. ,  3. ,  4. ,  5. ],
       [ 6. ,  7. ,  8. ,  9. , 10.5]])

In [22]:
arr3=arr2.reshape(5,2)
arr3

array([[ 1. ,  2. ],
       [ 3. ,  4. ],
       [ 5. ,  6. ],
       [ 7. ,  8. ],
       [ 9. , 10.5]])

In [23]:
arr3.dtype

dtype('float64')

In [24]:
arr3.astype('int32')

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10]])

In [27]:
arr4=np.array([10,20,30], dtype='float64')
arr4.dtype

dtype('float64')

In [29]:
z1=np.zeros((2,3,4))
z1

array([[[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]]])

In [35]:
one1=np.ones((2,2,4))
one1

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

In [38]:
f1=np.full(shape=(2,3),fill_value='가자')
f1

array([['가자', '가자', '가자'],
       ['가자', '가자', '가자']], dtype='<U2')

In [50]:
f2=np.full((1,2,3), 10)
f2

array([[[10, 10, 10],
        [10, 10, 10]]])

In [45]:
arr=np.arange(1,10,2)
arr

array([1, 3, 5, 7, 9])

### linspace(start, stop, num=50, endpoint=True, retstep=False, dtype=None)
시작과 끝을 균등하게 나눈 값들을 가지는 배열을 생성

In [59]:
lin=np.linspace(1,100,50,retstep=True)
lin

(array([  1.        ,   3.02040816,   5.04081633,   7.06122449,
          9.08163265,  11.10204082,  13.12244898,  15.14285714,
         17.16326531,  19.18367347,  21.20408163,  23.2244898 ,
         25.24489796,  27.26530612,  29.28571429,  31.30612245,
         33.32653061,  35.34693878,  37.36734694,  39.3877551 ,
         41.40816327,  43.42857143,  45.44897959,  47.46938776,
         49.48979592,  51.51020408,  53.53061224,  55.55102041,
         57.57142857,  59.59183673,  61.6122449 ,  63.63265306,
         65.65306122,  67.67346939,  69.69387755,  71.71428571,
         73.73469388,  75.75510204,  77.7755102 ,  79.79591837,
         81.81632653,  83.83673469,  85.85714286,  87.87755102,
         89.89795918,  91.91836735,  93.93877551,  95.95918367,
         97.97959184, 100.        ]), 2.020408163265306)

In [65]:
np.eye(5,4,2)

array([[0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [99]:
np.random.seed(5)
np.random.rand(3)

array([0.22199317, 0.87073231, 0.20671916])

In [124]:
np.random.seed(5)
a=np.random.normal(size=(2,3,4))
a

array([[[ 0.44122749, -0.33087015,  2.43077119, -0.25209213],
        [ 0.10960984,  1.58248112, -0.9092324 , -0.59163666],
        [ 0.18760323, -0.32986996, -1.19276461, -0.20487651]],

       [[-0.35882895,  0.6034716 , -1.66478853, -0.70017904],
        [ 1.15139101,  1.85733101, -1.51117956,  0.64484751],
        [-0.98060789, -0.85685315, -0.87187918, -0.42250793]]])

In [125]:
np.mean(a)

-0.09039302752858762

In [126]:
np.std(a)

1.0256294463736146

In [150]:
np.random.seed(10)
x=np.random.randint(10,50,size=(2,3))
x

array([[19, 46, 25],
       [10, 38, 35]])

In [151]:
np.mean(x)

28.833333333333332

In [161]:
a=np.array([1,2,3,4,5])
b=np.random.choice(a,size=(2,3,4))
b

array([[[2, 2, 5, 1],
        [3, 2, 4, 2],
        [3, 1, 2, 2]],

       [[1, 3, 4, 1],
        [5, 3, 1, 4],
        [4, 2, 3, 2]]])

In [165]:
np.random.choice(a,size=100, p=[0.1,0.1,0.1,0.1,0.6])

array([5, 4, 1, 5, 5, 5, 5, 5, 5, 5, 3, 4, 1, 4, 3, 5, 5, 5, 3, 1, 5, 4,
       5, 5, 5, 4, 5, 5, 5, 1, 5, 5, 5, 5, 1, 4, 5, 3, 5, 5, 2, 1, 4, 2,
       2, 5, 4, 3, 5, 2, 5, 5, 5, 2, 2, 5, 1, 3, 5, 3, 4, 5, 5, 5, 5, 1,
       5, 5, 5, 5, 5, 5, 5, 2, 5, 5, 2, 5, 2, 5, 5, 1, 5, 5, 5, 2, 5, 3,
       1, 1, 5, 5, 5, 4, 2, 5, 5, 5, 5, 5])

In [169]:
c=np.arange(10)
np.random.choice(c, size=5, replace=False)

array([4, 5, 7, 0, 8])

In [170]:
l=[
    [2,3,4],
    [10,20,30]
]

In [171]:
arr=np.array(l)
arr.shape

(2, 3)

In [172]:
arr[0][1]

3

In [180]:
arr2=np.arange(10)
arr3=arr2.reshape(2,5)
arr3

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [181]:
arr3[1][3]

8

In [182]:
arr3[1,3]

8

In [191]:
arr=np.arange(2*3*4).reshape(4,2,3)
arr

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]],

       [[12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23]]])

In [195]:
arr[1,1,2]=100

In [196]:
arr

array([[[  0,   1,   2],
        [  3,   4,   5]],

       [[  6,   7,   8],
        [  9,  10, 100]],

       [[ 12,  13,  14],
        [ 15,  16,  17]],

       [[ 18,  19,  20],
        [ 21,  22,  23]]])

In [201]:
arr[[0,2,1]]  # fancy indexing: 여러 index의 값들을 한번에 조회

array([[[  0,   1,   2],
        [  3,   4,   5]],

       [[ 12,  13,  14],
        [ 15,  16,  17]],

       [[  6,   7,   8],
        [  9,  10, 100]]])

In [206]:
arr[[0,2,1],[1,1,1]]

array([[  3,   4,   5],
       [ 15,  16,  17],
       [  9,  10, 100]])

In [209]:
arr=np.zeros(shape=(3,4))
arr

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [212]:
arr2=arr[:2, :3]
arr2

array([[0., 0., 0.],
       [0., 0., 0.]])

In [214]:
arr3=np.arange(2*3*4).reshape(2,3,4)
arr3

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [230]:
arr3[1,1,3]=100
arr3

array([[[  0,   1,   2,   3],
        [  4,   5,   6,   7],
        [  8,   9,  10,  11]],

       [[ 12,  13,  14,  15],
        [ 16,  17,  18, 100],
        [ 20,  21,  22,  23]]])

In [235]:
a=np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [233]:
i=np.random.choice([True, False], size=10)
i

array([ True,  True, False,  True,  True,  True, False, False, False,
       False])

In [234]:
a[i]  # i의 True인 index값 반환

array([0, 1, 3, 4, 5])

In [252]:
a2=np.random.randint(1,20,size=10)
a2
np.where(a2>=10,'10이상','10미만')

array(['10미만', '10미만', '10미만', '10이상', '10미만', '10이상', '10이상', '10이상',
       '10이상', '10미만'], dtype='<U4')

In [255]:
x=np.arange(10,20)
x.shape

(10,)

In [257]:
x1=x[np.newaxis, :] # 행 추가
x1.shape

(1, 10)

In [258]:
x1

array([[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]])

In [264]:
x2=x[:, np.newaxis]  # 열 추가
x2.shape

(10, 1)

In [265]:
x2

array([[10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18],
       [19]])

In [267]:
z=np.arange(12).reshape(3,4)
z

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [269]:
z1=z[np.newaxis, :]
z1.shape

(1, 3, 4)

In [270]:
z1

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]]])

In [274]:
z2=z[:, np.newaxis]
z2.shape

(3, 1, 4)

In [275]:
z2

array([[[ 0,  1,  2,  3]],

       [[ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11]]])

In [279]:
z3=z[:,np.newaxis,0]
z3.shape

(3, 1)

In [280]:
z3

array([[0],
       [4],
       [8]])

In [283]:
x.shape

(10,)

In [285]:
x[...,np.newaxis]

array([[10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18],
       [19]])

In [288]:
z

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [291]:
z[...,np.newaxis]

array([[[ 0],
        [ 1],
        [ 2],
        [ 3]],

       [[ 4],
        [ 5],
        [ 6],
        [ 7]],

       [[ 8],
        [ 9],
        [10],
        [11]]])

In [293]:
z[np.newaxis,...].shape

(1, 3, 4)

In [307]:
x=np.arange(10).reshape(2,5)
y=np.arange(100,110).reshape(2,5)
x,y

(array([[0, 1, 2, 3, 4],
        [5, 6, 7, 8, 9]]), array([[100, 101, 102, 103, 104],
        [105, 106, 107, 108, 109]]))

In [309]:
z=np.concatenate([x,y], axis=1)
z

array([[  0,   1,   2,   3,   4, 100, 101, 102, 103, 104],
       [  5,   6,   7,   8,   9, 105, 106, 107, 108, 109]])

In [310]:
w=np.arange(200,210).reshape(2,5)
z2=np.concatenate([x,y,w])
z2

array([[  0,   1,   2,   3,   4],
       [  5,   6,   7,   8,   9],
       [100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109],
       [200, 201, 202, 203, 204],
       [205, 206, 207, 208, 209]])

In [312]:
z3=np.concatenate([x,y,w], axis=1)
z3

array([[  0,   1,   2,   3,   4, 100, 101, 102, 103, 104, 200, 201, 202,
        203, 204],
       [  5,   6,   7,   8,   9, 105, 106, 107, 108, 109, 205, 206, 207,
        208, 209]])

In [313]:
np.vstack([x,y])

array([[  0,   1,   2,   3,   4],
       [  5,   6,   7,   8,   9],
       [100, 101, 102, 103, 104],
       [105, 106, 107, 108, 109]])

In [314]:
np.hstack([w,x])

array([[200, 201, 202, 203, 204,   0,   1,   2,   3,   4],
       [205, 206, 207, 208, 209,   5,   6,   7,   8,   9]])

In [320]:
a=np.arange(10)
b=np.arange(10,20)
c=np.hstack([a,b])
c

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [327]:
d1,d2=np.split(c,2)
d1,d2

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19]))

In [324]:
np.split(c,5)

[array([0, 1, 2, 3]),
 array([4, 5, 6, 7]),
 array([ 8,  9, 10, 11]),
 array([12, 13, 14, 15]),
 array([16, 17, 18, 19])]

In [338]:
np.random.seed(10)
a=np.random.randint(10,size=10).reshape(2,5)
a

array([[9, 4, 0, 1, 9],
       [0, 1, 8, 9, 0]])

In [339]:
np.add.reduce(a, axis=0)  # 열방향(생략가능)

array([ 9,  5,  8, 10,  9])

In [340]:
np.add.reduce(a, axis=1)  # 행방향

array([23, 18])

In [341]:
np.add.reduce(a, axis=None)  # 축이 없다는 의미, 모든 원소의 총 합

41

In [343]:
z=np.ones(shape=(3,4,5))
z

array([[[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]]])

In [344]:
np.add.reduce(z)

array([[3., 3., 3., 3., 3.],
       [3., 3., 3., 3., 3.],
       [3., 3., 3., 3., 3.],
       [3., 3., 3., 3., 3.]])

In [345]:
np.add.reduce(z, axis=1)

array([[4., 4., 4., 4., 4.],
       [4., 4., 4., 4., 4.],
       [4., 4., 4., 4., 4.]])

In [348]:
np.add.reduce(z, axis=2)

array([[5., 5., 5., 5.],
       [5., 5., 5., 5.],
       [5., 5., 5., 5.]])

In [353]:
x=np.random.randint(10, size=24).reshape(3,2,4)
x

array([[[8, 6, 6, 5],
        [6, 0, 0, 6]],

       [[9, 1, 8, 9],
        [1, 2, 8, 9]],

       [[9, 5, 0, 2],
        [7, 3, 0, 4]]])

In [355]:
np.add.reduce(x, axis=0)

array([[26, 12, 14, 16],
       [14,  5,  8, 19]])

In [356]:
np.add.reduce(x, axis=1)

array([[14,  6,  6, 11],
       [10,  3, 16, 18],
       [16,  8,  0,  6]])

In [357]:
np.add.reduce(x, axis=2)

array([[25, 12],
       [27, 20],
       [16, 14]])

In [364]:
m=y.reshape(10,)

In [365]:
np.add.accumulate(m)

array([ 100,  201,  303,  406,  510,  615,  721,  828,  936, 1045],
      dtype=int32)